*.zip
*.x2d
*.x1d
*.xcp
*.system
*.log
*.sh
*./src/opensim-gui
*./src/opensim-core
./data/*

./src/OrbbecSDK_v2/
./src/matlab/
./src/anaconda/
./src/env/
./src/venv/
*.pyc
./src/__pycache__/
./src/.vscode/
./src/.DS_Store

